.menu {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #008cff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}
.menu button {
  color: white;
  border: 2px dashed white;
}
.menu button:hover {
  background-color: white;
  color: #008cff;
}
.menu.close {
  transform: translateX(-100%);
}
.menu small {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  padding: 12px;
}
.nav button {
  color: black;
  border: 2px dashed black;
}
.nav button:hover {
  background-color: black;
  color: white;
}

@keyframes appear {
  from {
    transform: scale(0);
  }
}
.state-game {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.state-game h1 {
  transform-origin: bottom;
  animation: appear 1s cubic-bezier(0.65, 0.05, 0.46, 1.53);
}
.state-game.none {
  display: none;
}
.state-game.win {
  background-color: rgba(84, 230, 132, 0.925);
}
.state-game.win button {
  color: white;
  border: 2px dashed white;
}
.state-game.win button:hover {
  background-color: white;
  color: rgba(84, 230, 132, 0.925);
}
.state-game.lose {
  background-color: rgba(236, 52, 52, 0.842);
}
.state-game.lose button {
  color: white;
  border: 2px dashed white;
}
.state-game.lose button:hover {
  background-color: white;
  color: rgba(236, 52, 52, 0.842);
}

.table {
  width: max-content;
  height: max-content;
  overflow: hidden;
  border-collapse: collapse;
  position: relative;
}

.table td {
  border: 1px solid silver;
}

.part, .piece, .wall {
  width: 7.6vh;
  height: 7.6vh;
  position: absolute;
}

@keyframes rotate {
  from {
    transform: rotateY(360deg) scale(0.5);
  }
  to {
    transform: rotateY(0) scale(0.5);
  }
}
[data-i="0"] {
  top: 0vh;
}

[data-j="0"] {
  left: 0vh;
}

[data-i="1"] {
  top: 7.6vh;
}

[data-j="1"] {
  left: 7.6vh;
}

[data-i="2"] {
  top: 15.2vh;
}

[data-j="2"] {
  left: 15.2vh;
}

[data-i="3"] {
  top: 22.8vh;
}

[data-j="3"] {
  left: 22.8vh;
}

[data-i="4"] {
  top: 30.4vh;
}

[data-j="4"] {
  left: 30.4vh;
}

[data-i="5"] {
  top: 38vh;
}

[data-j="5"] {
  left: 38vh;
}

[data-i="6"] {
  top: 45.6vh;
}

[data-j="6"] {
  left: 45.6vh;
}

[data-i="7"] {
  top: 53.2vh;
}

[data-j="7"] {
  left: 53.2vh;
}

[data-i="8"] {
  top: 60.8vh;
}

[data-j="8"] {
  left: 60.8vh;
}

[data-i="9"] {
  top: 68.4vh;
}

[data-j="9"] {
  left: 68.4vh;
}

[data-i="10"] {
  top: 76vh;
}

[data-j="10"] {
  left: 76vh;
}

[data-i="11"] {
  top: 83.6vh;
}

[data-j="11"] {
  left: 83.6vh;
}

[data-i="12"] {
  top: 91.2vh;
}

[data-j="12"] {
  left: 91.2vh;
}

[data-i="13"] {
  top: 98.8vh;
}

[data-j="13"] {
  left: 98.8vh;
}

[data-i="14"] {
  top: 106.4vh;
}

[data-j="14"] {
  left: 106.4vh;
}

[data-i="15"] {
  top: 114vh;
}

[data-j="15"] {
  left: 114vh;
}

[data-i="16"] {
  top: 121.6vh;
}

[data-j="16"] {
  left: 121.6vh;
}

[data-i="17"] {
  top: 129.2vh;
}

[data-j="17"] {
  left: 129.2vh;
}

[data-i="18"] {
  top: 136.8vh;
}

[data-j="18"] {
  left: 136.8vh;
}

[data-i="19"] {
  top: 144.4vh;
}

[data-j="19"] {
  left: 144.4vh;
}

[data-i="20"] {
  top: 152vh;
}

[data-j="20"] {
  left: 152vh;
}

[data-i="21"] {
  top: 159.6vh;
}

[data-j="21"] {
  left: 159.6vh;
}

[data-i="22"] {
  top: 167.2vh;
}

[data-j="22"] {
  left: 167.2vh;
}

[data-i="23"] {
  top: 174.8vh;
}

[data-j="23"] {
  left: 174.8vh;
}

[data-i="24"] {
  top: 182.4vh;
}

[data-j="24"] {
  left: 182.4vh;
}

[data-i="25"] {
  top: 190vh;
}

[data-j="25"] {
  left: 190vh;
}

[data-i="26"] {
  top: 197.6vh;
}

[data-j="26"] {
  left: 197.6vh;
}

[data-i="27"] {
  top: 205.2vh;
}

[data-j="27"] {
  left: 205.2vh;
}

[data-i="28"] {
  top: 212.8vh;
}

[data-j="28"] {
  left: 212.8vh;
}

[data-i="29"] {
  top: 220.4vh;
}

[data-j="29"] {
  left: 220.4vh;
}

[data-i="30"] {
  top: 228vh;
}

[data-j="30"] {
  left: 228vh;
}

[data-i="31"] {
  top: 235.6vh;
}

[data-j="31"] {
  left: 235.6vh;
}

[data-i="32"] {
  top: 243.2vh;
}

[data-j="32"] {
  left: 243.2vh;
}

[data-i="33"] {
  top: 250.8vh;
}

[data-j="33"] {
  left: 250.8vh;
}

[data-i="34"] {
  top: 258.4vh;
}

[data-j="34"] {
  left: 258.4vh;
}

[data-i="35"] {
  top: 266vh;
}

[data-j="35"] {
  left: 266vh;
}

[data-i="36"] {
  top: 273.6vh;
}

[data-j="36"] {
  left: 273.6vh;
}

[data-i="37"] {
  top: 281.2vh;
}

[data-j="37"] {
  left: 281.2vh;
}

[data-i="38"] {
  top: 288.8vh;
}

[data-j="38"] {
  left: 288.8vh;
}

[data-i="39"] {
  top: 296.4vh;
}

[data-j="39"] {
  left: 296.4vh;
}

[data-i="40"] {
  top: 304vh;
}

[data-j="40"] {
  left: 304vh;
}

[data-i="41"] {
  top: 311.6vh;
}

[data-j="41"] {
  left: 311.6vh;
}

[data-i="42"] {
  top: 319.2vh;
}

[data-j="42"] {
  left: 319.2vh;
}

[data-i="43"] {
  top: 326.8vh;
}

[data-j="43"] {
  left: 326.8vh;
}

[data-i="44"] {
  top: 334.4vh;
}

[data-j="44"] {
  left: 334.4vh;
}

[data-i="45"] {
  top: 342vh;
}

[data-j="45"] {
  left: 342vh;
}

[data-i="46"] {
  top: 349.6vh;
}

[data-j="46"] {
  left: 349.6vh;
}

[data-i="47"] {
  top: 357.2vh;
}

[data-j="47"] {
  left: 357.2vh;
}

[data-i="48"] {
  top: 364.8vh;
}

[data-j="48"] {
  left: 364.8vh;
}

[data-i="49"] {
  top: 372.4vh;
}

[data-j="49"] {
  left: 372.4vh;
}

[data-i="50"] {
  top: 380vh;
}

[data-j="50"] {
  left: 380vh;
}

[data-i="51"] {
  top: 387.6vh;
}

[data-j="51"] {
  left: 387.6vh;
}

[data-i="52"] {
  top: 395.2vh;
}

[data-j="52"] {
  left: 395.2vh;
}

[data-i="53"] {
  top: 402.8vh;
}

[data-j="53"] {
  left: 402.8vh;
}

[data-i="54"] {
  top: 410.4vh;
}

[data-j="54"] {
  left: 410.4vh;
}

[data-i="55"] {
  top: 418vh;
}

[data-j="55"] {
  left: 418vh;
}

[data-i="56"] {
  top: 425.6vh;
}

[data-j="56"] {
  left: 425.6vh;
}

[data-i="57"] {
  top: 433.2vh;
}

[data-j="57"] {
  left: 433.2vh;
}

[data-i="58"] {
  top: 440.8vh;
}

[data-j="58"] {
  left: 440.8vh;
}

[data-i="59"] {
  top: 448.4vh;
}

[data-j="59"] {
  left: 448.4vh;
}

[data-i="60"] {
  top: 456vh;
}

[data-j="60"] {
  left: 456vh;
}

[data-i="61"] {
  top: 463.6vh;
}

[data-j="61"] {
  left: 463.6vh;
}

[data-i="62"] {
  top: 471.2vh;
}

[data-j="62"] {
  left: 471.2vh;
}

[data-i="63"] {
  top: 478.8vh;
}

[data-j="63"] {
  left: 478.8vh;
}

[data-i="64"] {
  top: 486.4vh;
}

[data-j="64"] {
  left: 486.4vh;
}

[data-i="65"] {
  top: 494vh;
}

[data-j="65"] {
  left: 494vh;
}

[data-i="66"] {
  top: 501.6vh;
}

[data-j="66"] {
  left: 501.6vh;
}

[data-i="67"] {
  top: 509.2vh;
}

[data-j="67"] {
  left: 509.2vh;
}

[data-i="68"] {
  top: 516.8vh;
}

[data-j="68"] {
  left: 516.8vh;
}

[data-i="69"] {
  top: 524.4vh;
}

[data-j="69"] {
  left: 524.4vh;
}

[data-i="70"] {
  top: 532vh;
}

[data-j="70"] {
  left: 532vh;
}

[data-i="71"] {
  top: 539.6vh;
}

[data-j="71"] {
  left: 539.6vh;
}

[data-i="72"] {
  top: 547.2vh;
}

[data-j="72"] {
  left: 547.2vh;
}

[data-i="73"] {
  top: 554.8vh;
}

[data-j="73"] {
  left: 554.8vh;
}

[data-i="74"] {
  top: 562.4vh;
}

[data-j="74"] {
  left: 562.4vh;
}

[data-i="75"] {
  top: 570vh;
}

[data-j="75"] {
  left: 570vh;
}

[data-i="76"] {
  top: 577.6vh;
}

[data-j="76"] {
  left: 577.6vh;
}

[data-i="77"] {
  top: 585.2vh;
}

[data-j="77"] {
  left: 585.2vh;
}

[data-i="78"] {
  top: 592.8vh;
}

[data-j="78"] {
  left: 592.8vh;
}

[data-i="79"] {
  top: 600.4vh;
}

[data-j="79"] {
  left: 600.4vh;
}

[data-i="80"] {
  top: 608vh;
}

[data-j="80"] {
  left: 608vh;
}

[data-i="81"] {
  top: 615.6vh;
}

[data-j="81"] {
  left: 615.6vh;
}

[data-i="82"] {
  top: 623.2vh;
}

[data-j="82"] {
  left: 623.2vh;
}

[data-i="83"] {
  top: 630.8vh;
}

[data-j="83"] {
  left: 630.8vh;
}

[data-i="84"] {
  top: 638.4vh;
}

[data-j="84"] {
  left: 638.4vh;
}

[data-i="85"] {
  top: 646vh;
}

[data-j="85"] {
  left: 646vh;
}

[data-i="86"] {
  top: 653.6vh;
}

[data-j="86"] {
  left: 653.6vh;
}

[data-i="87"] {
  top: 661.2vh;
}

[data-j="87"] {
  left: 661.2vh;
}

[data-i="88"] {
  top: 668.8vh;
}

[data-j="88"] {
  left: 668.8vh;
}

[data-i="89"] {
  top: 676.4vh;
}

[data-j="89"] {
  left: 676.4vh;
}

[data-i="90"] {
  top: 684vh;
}

[data-j="90"] {
  left: 684vh;
}

[data-i="91"] {
  top: 691.6vh;
}

[data-j="91"] {
  left: 691.6vh;
}

[data-i="92"] {
  top: 699.2vh;
}

[data-j="92"] {
  left: 699.2vh;
}

[data-i="93"] {
  top: 706.8vh;
}

[data-j="93"] {
  left: 706.8vh;
}

[data-i="94"] {
  top: 714.4vh;
}

[data-j="94"] {
  left: 714.4vh;
}

[data-i="95"] {
  top: 722vh;
}

[data-j="95"] {
  left: 722vh;
}

[data-i="96"] {
  top: 729.6vh;
}

[data-j="96"] {
  left: 729.6vh;
}

[data-i="97"] {
  top: 737.2vh;
}

[data-j="97"] {
  left: 737.2vh;
}

[data-i="98"] {
  top: 744.8vh;
}

[data-j="98"] {
  left: 744.8vh;
}

[data-i="99"] {
  top: 752.4vh;
}

[data-j="99"] {
  left: 752.4vh;
}

[data-i="100"] {
  top: 760vh;
}

[data-j="100"] {
  left: 760vh;
}

.wall {
  background-color: rgba(66, 66, 66, 0.493);
}

.piece {
  background-color: #eaee0c;
  border: 1px solid rgba(58, 58, 58, 0.37);
  border-radius: 50%;
  animation: rotate 3s both infinite;
}

.part {
  transition: top 0.3s, left 0.3s;
  background-color: #167cf0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-top-color: transparent;
  border-bottom: 15px solid rgba(0, 0, 0, 0.356);
}

.head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}
.head::after, .head::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: black;
  border: 4px solid white;
  border-radius: 4px;
  position: relative;
  top: -15px;
}
.head.up {
  transform: rotateZ(0);
  border-bottom: 15px solid rgba(0, 0, 0, 0.356);
}
.head.down {
  transform: rotateZ(180deg);
  border-top: 15px solid rgba(0, 0, 0, 0.356);
}
.head.left {
  transform: rotateZ(-90deg);
  border-left: 15px solid rgba(0, 0, 0, 0.356);
}
.head.right {
  transform: rotateZ(90deg);
  border-right: 15px solid rgba(0, 0, 0, 0.356);
}

@font-face {
  font-family: "symtext";
  src: url("./../font/symtext/Symtext.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: "symtext";
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100px;
}
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 70px;
  }
}

button {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  width: 100%;
  text-transform: uppercase;
  padding: 12px;
}

.container {
  width: max-content;
  height: max-content;
  overflow: hidden;
  position: relative;
}

#about {
  padding: 22px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.212);
  color: black;
  text-align: center;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
